@import url(https://fonts.googleapis.com/css?family=Notable);
body {
  margin: 0;
  padding: 0;
}
.topnav {
overflow: hidden;
background-color: #8FFFBA;
display: flex;
justify-content: center;
position: sticky;
top: 0;
 
  ;
}

.topnav a {
    color: #561435;
   padding: 30px 3%;
  text-decoration: none;
   font-family: 'Notable';
  font-size: 28px;
   display: inline-block;
 }

.topnav a:hover {
  color:  #DE5C9D;
}

.topnav a.active {
    color: #DE5C9D;
}


path {
  fill: transparent;
}

text {
  fill: #561435;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.row {
  display: flex;
.img
{
position:fixed;
top: 0px;
left: 5%;
}
#layer1
{
   z-index: 10;
}
#layer2
{
z-index: 20;
}

