@import url(https://fonts.googleapis.com/css?family=Notable);
body {
  margin: 0;
  padding: 0;
}
.topnav {
overflow: hidden;
background-color: #8FFFBA;
display: flex;
justify-content: center;
position: sticky;
top: 0;
 
  ;
}

.topnav a {
    color: #561435;
   padding: 30px 3%;
  text-decoration: none;
   font-family: 'Notable';
  font-size: 28px;
   display: inline-block;
 }

.topnav a:hover {
  color:  #DE5C9D;
}

.topnav a.active {
    color: #DE5C9D;
}

/* (A) GALLERY WRAPPER */
/* (A1) BIG SCREENS - 3 VIDEOS PER ROW */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
  max-width: 1200px; /* optional */
  margin: 0 auto; /* optional */
}
 
/* (A2) SMALL SCREENS - 2 VIDEOS PER ROW */
@media screen and (max-width: 768px) {
  .gallery { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}
 
/* (B) GALLERY VIDEOS */
/* (B1) THUMBNAIL VIDEO */
.gallery video {
  width: 100%;
  height: 200px;
  object-fit: cover; /* fill | contain | cover | scale-down */
  cursor: pointer;
}
 
/* (B2) FULLSCREEN VIDEO */
.gallery video.full {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  background: #000;
  object-fit: scale-down;
}
 
/* (C) EXIT FULLSCREEN */
#vClose {
  position: fixed; display: none;
  top: 0; right: 0; z-index: 9999;
  font-size: 20px; font-weight: 700;
  padding: 10px 15px;
  color: #fff;
  background: #741414;
  cursor: pointer;
}
#vClose.show { display: block; }


  }

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
     padding-top: 0%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-left: 5%;
   
  }
    .column2 {
    flex: 100%;
    max-width: 100%;
     padding-top: 0%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-left: 5%;
    }
}

 }



 .bg {  filter: blur(10px);}
@media screen and (max-width: 600px) {
  .topnav a:not(:nth-of-type(4)) {display: none;};
 
}

@media screen and (max-width: 600px) {.topnav {
overflow: hidden;
background-color: #ECFFF4;
display: flex;
justify-content: center;
position: sticky;
top: 0;
 
  ;
}
  

@media screen and (max-width: 600px) {
 
.frame {
  flex: 100%;
    max-width: 100%;
    
  border: 10px solid #57829C;  border-radius: 25%;
  stroke-width: 100px; 
  
}

@media screen and (max-width: 600px) {.topnav a {
    color: #561435;
   padding: 15px 3%;
  text-decoration: none;
   font-family: 'Notable';
  font-size: 25px;
   display: inline-block;
 }
  
}